body { 
    margin: 0 auto; 
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    background-color: black;
    text-align: right;
}

#header {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

#about {
    height: 100vh;
}

#skills {
    height: 100vh;
}

#projects {
    height: 100vh;
}

#educertawards {
    height: 100vh;
}

#contact {
    height: 100vh;
}

.cert {
    height: 20%;
    width: 20%;
}