body {
    margin: 0 auto;
    font-family: CustomFont, Arial, Helvetica, sans-serif;
    color: #0F0;
    background-color: black;
    margin-top: 40px;
    z-index: 1;

}

p {
    font-size: 25px;
}

h3 {
    background-color: white;
    color: black;
    font-size: 90px;
    padding-left: 90px;
}

nav {
    margin: auto;
    background: rgba(0, 0, 0, 0.774);
    text-align: center;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav a {
    text-align: center;
    padding: 20px;
}

nav li {
    text-align: center;
    display: inline-block;
}

#aboutpic {
    float: right;
    margin: 0 0 0 15px;
    width: 18%;
    height: 18%;
    border-radius: 25px;
}

header {
    margin: auto;
    text-align: center;
    height: 100vh;
}

section {
    text-align: right;
    margin: auto;
    width: 75%;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    
}

a {
    color: #0F0;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    color: red;
}


a:active {
    text-decoration: none;
}

#header {
    height: 100vh;
}

#about {
    height: 100vh;
}

#about article {
    background: rgba(0, 0, 0, 0.774);
    padding: 20px;
}

#skills {
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.774);

}

#projects {
    height: 150vh;
    
}

#cards {
    background: rgba(0, 0, 0, 0.774);
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 20px;
}

#projects h4 {
    padding: 10px;
    font-size: xx-large;
}

#projects a {
    color: white;
}


.tags {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 15px;
}

.tags p {
    border: 1px white solid;
    background-color: grey;
    padding: 3px;
    font-size: 9px;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    border-radius: 5px;
}

#educertawards article {
    background: rgba(0, 0, 0, 0.774);
    padding: 20px;
}

#awards article {
    background: rgba(0, 0, 0, 0.774);
    padding: 20px;
}

#cert div {
    background: rgba(0, 0, 0, 0.774);
    padding: 20px;
}

#contact {
    height: 100vh;
}

#contact a {
    padding: 20px;
}

#contact p {
    background: rgba(0, 0, 0, 0.774);
    padding: 20px;
}

.cert {
    height: 20%;
    width: 20%;
}

footer {
    margin: auto;

    text-align: center;
    padding: 40px;
}

@keyframes enter-animation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .image-animation {
        animation: enter-animation 0.8s 1;
    }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 210px;
    height: 280px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    border-radius: 25px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 25px;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 25px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 25px;
}

/* Style the back side */
.flip-card-back {
    background-color: yellowgreen;
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
}

.flipbacktext {
    padding-top: 25px;
}

@font-face {
    font-family: "CustomFont";
    src: url("/font/roboto-regular-webfont.woff") format("woff");
}

b {
    background-color: #0F0;
    color: white;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#contact img {
    height: 72px;
}

#scrollup {
    background-color: white;
    color: black;
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.word {
    margin: auto;
    margin-top: 100px;
    color: white;
    font-size: 240px;
  }

  